section.content {
  background: #ecf4f4;
  margin-right: 0.1ch;
}

.content-block{
  margin-left: -0.64cm;
}

.example-container mat-form-field {
  margin-left: 8px;
  margin-top: 20px;
}

.example-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0px solid #ccc; /* Add border */
  background-color: #ccc;
  height: 38px;
}

  table {
    width: 100%;
  }
.custom-select{
  display: flex;
    align-items: center;
    margin-top: 50px;
}




  .form-fields {
    display: flex;
    align-items: center;

  }

  .icon-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .icon-container button {
    margin-left: 8px;
  }

.search-input {
  margin-left: auto;
  margin-right: 10px; /* Adjust as needed for spacing */
  width: 250px; /* Adjust width as needed */
  padding: 5px 10px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Border for the input */
  border-radius: 4px; /* Rounded corners */
}

.search-input:focus {
  outline: none; /* Remove default outline */
  border-color: #3f51b5; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Add shadow on focus */
}




/* Styles pour le conteneur de la barre de sélection */
.custom-select {
  position: relative;
  width: 250px; /* Largeur souhaitée */
  margin: 10px;


}

.small-icon-button{
  width: 2em;
  height: 2em;
  min-width: 2em;
  min-height: 2em;
  margin-left:50px;
}

/* Adjust the size of the icon */
.small-icon-button .mat-icon{
  font-size: 1.5em;
  line-height: 1.2em;
}


/* Style pour l'étiquette par défaut */
.select-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  font-size: 14px;
  color: #555;
}

/* Styles pour la sélection elle-même */
.custom-select select {
  margin-left: auto;
  margin-right: 15px; /* Adjust as needed for spacing */
  width: 150px; /* Adjust width as needed */
  padding: 5px 10px; /* Add padding for better appearance */
  border: 1px solid #ffffff; /* Border for the input */
  border-radius: 4px; /* Rounded corners */
}

/* Flèche à droite */


/* Style sur hover */


/* Style sur focus */
.custom-select select:focus {
  outline: none; /* Remove default outline */
/* Ombre portée lorsqu'il est en focus */
}

.bttn-menu {
  color: #545455;
}

.indeterminate_check_box{
  color: #545455;
}

.small-icon-button1 {
  width: 3.2em;
  height: 3.2em;
  min-width: 3.2em;
  min-height: 3.2em;
}

.small-icon-button1 .mat-icon {
  font-size: 1.2em;
  line-height: 1em;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.search-input {
  margin-left: auto;
  margin-right: 10px; /* Adjust as needed for spacing */
  width: 250px; /* Adjust width as needed */
  padding: 5px 10px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Border for the input */
  border-radius: 4px; /* Rounded corners */
}


.search-button {
  margin: 0;
  width: 20px;  /* Adjust width */
  height: 20px; /* Adjust height */
  min-width: 30px;
  min-height: 30px;
  border-radius: 0 20px 20px 0; /* Rounded corners for the right side */
  background-color: transparent;
  border-left: none; /* Remove any border that might create a gap */
  box-shadow: none; /* Remove shadow if there’s any */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-button mat-icon {
  font-size: 20px; /* Adjust icon size */
  color: rgba(0, 0, 0, 0.54);
  margin-top: 5px;
}

.combined-select {
  display: flex;
  align-items: center;
  background-color: #fff; /* Adjust if needed */
  border: 1px solid #ffffff; /* Adjust if needed */
  border-radius: 4px; /* Adjust if needed */
}

.select-container {
  flex: 1;
  position: relative;
  width: 100px;
}

.select-container select {
  width: 100%;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 4px; /* Adjust if needed */
}

.divider {
  background-color: black; /* Adjust divider color */
  height: 100%;
}

.custom-select2 select {
  margin-left: auto;
  margin-right: 10px; /* Adjust as needed for spacing */
  width: 210px; /* Adjust width as needed */
  padding: 5px 10px; /* Add padding for better appearance */
  border: 1px solid #ffffff; /* Border for the input */
  border-radius: 4px; /* Rounded corners */
}

.custom-select2{
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.custom-select2 {
  position: relative;
  width: 150px;
  margin: 10px;
  margin-left: -17px;
}
