<mat-card class="type-unit-edit-card">
  <mat-card-title class="type-unit-edit-title">
    <p>Ajouter Droit Légal:</p>
    <button class="close-btn" mat-icon-button matTooltip="Close" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-title>
  <hr>
  <form class="type-unit-form" [formGroup]="formGroup">
    <mat-card-content>
      <div class="type-unit-content">
        <div class="row">
          <div class="text col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <p *ngIf="newTypeError" class="mt-3"><strong>{{newTypeError}}</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Code:</mat-label>
              <input matInput formControlName="code" required>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Nombre de Jours:</mat-label>
              <input matInput formControlName="nbrJour" type="number" required>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Champ de Contrainte:</mat-label>
              <mat-select formControlName="champContrainte">
                <mat-option *ngFor="let champ of champs" [value]="champ">{{ champ }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Valeur de Contrainte:</mat-label>
              <input matInput formControlName="valeurContrainte" required>
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
            <button mat-raised-button color="primary" (click)="addContrainte()">Ajouter Contrainte</button>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
              <mat-chip *ngFor="let contrainte of contraintes" removable (removed)="removeContrainte(contrainte)">
                {{ contrainte.champ }}: {{ contrainte.valeur }}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="card-actions justify-content-end">
      <button mat-raised-button class="add-type-unit" (click)="addFete()">Ajouter</button>
    </mat-card-actions>
  </form>
</mat-card>
