section.content {
    background: #ecf4f4;
    margin-right: 0.1ch;
  }

  .content-block{
    margin-left: -0.64cm;
  }

  .example-container mat-form-field {
    margin-left: 8px;
    margin-top: 20px;
  }

  .example-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0px solid #ccc; /* Add border */
    background-color: #ccc;
    height: 38px;
  }

    table {
      width: 100%;
    }



    .form-fields {
      display: flex;
      align-items: center;
    }

    .icon-container {
      display: flex;
      align-items: center;
      margin-right: 20px;
    }

    .icon-container button {
      margin-left: 8px;

    }

  .search-input {
    margin-left: auto;
    margin-right: 10px; /* Adjust as needed for spacing */
    width: 250px; /* Adjust width as needed */
    padding: 5px 10px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Border for the input */
    border-radius: 4px; /* Rounded corners */
  }

  .search-input:focus {
    outline: none; /* Remove default outline */
    border-color: #3f51b5; /* Change border color on focus */
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Add shadow on focus */
  }




  /* Styles pour le conteneur de la barre de sélection */
  .custom-select {
    position: relative;
    width: 250px; /* Largeur souhaitée */
    margin: 10px;

  }

  .small-icon-button{
    width: 2em;
    height: 2em;
    min-width: 2em;
    min-height: 2em;
  }

  /* Adjust the size of the icon */
  .small-icon-button .mat-icon{
    font-size: 1.5em;
    line-height: 1.2em;
  }


  /* Style pour l'étiquette par défaut */
  .select-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 14px;
    color: #555;
  }

  /* Styles pour la sélection elle-même */
  .custom-select select {
    margin-left: auto;
    margin-right: 10px; /* Adjust as needed for spacing */
    width: 250px; /* Adjust width as needed */
    padding: 5px 10px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Border for the input */
    border-radius: 4px; /* Rounded corners */

  }

  /* Flèche à droite */


  /* Style sur hover */
  .custom-select select:hover {
    border-color: #3f51b5; /* Couleur de la bordure lorsqu'il est survolé */
  }

  /* Style sur focus */
  .custom-select select:focus {
    outline: none; /* Remove default outline */
    border-color: #3f51b5; /* Couleur de la bordure lorsqu'il est en focus */
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5); /* Ombre portée lorsqu'il est en focus */
  }

  .bttn-menu {

    color: #545455;

  }

  .indeterminate_check_box{

    color: #545455;

  }

.custom-mini-fab {
  width: 1.8em;
  height: 1.8em;
  min-width: 1.8em;
  min-height: 1.8em;

}
.mat-mdc-mini-fab.mat-accent {
  --mdc-fab-small-container-color: #787676;
}
/* Adjust the size of the icon */
.custom-mini-fab .mat-icon {
  font-size: 1.5em;
  line-height: 1.2em;

}

.custom-mini-fab1 {
  width: 1.8em;
  height: 1.8em;
  min-width: 1.8em;
  min-height: 1.8em;
  background: none;

}

.custom-mini-fab1 .mat-icon {
  font-size: 1.5em;
  line-height: 1.2em;
  color: #03035d;

}
