<section class="content">
    <div class="container">
        <div class="body">
            <!-- Décès Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Décès</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="dateDeces" class="form-label mr-2">Date de décès :</label>
                            <mat-form-field class="field-width" appearance="outline">

                                <input matInput [matDatepicker]="picker1" id="dateDeces"
                                    [(ngModel)]="collaborater.dateDeces" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="dateCertifDeces" class="form-label mr-2">Date du certificat de décès :</label>
                            <mat-form-field class="field-width" appearance="outline">

                                <input matInput [matDatepicker]="picker2" id="dateCertifDeces"
                                    [(ngModel)]="collaborater.dateCertifDeces" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Naturalisation Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Naturalisation</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="actif" class="form-label mr-2">Actif :</label>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [disabled]="!addMode && !editMode"></mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="dateNaturalisation" class="form-label mr-2">Date de naturalisation :</label>
                            <mat-form-field class="field-width" appearance="outline">

                                <input matInput [matDatepicker]="picker3" id="dateNaturalisation"
                                    [(ngModel)]="collaborater.dateNaturalisation" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                <mat-datepicker #picker3></mat-datepicker>
                            </mat-form-field>
                        </div>
                        
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Divers Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Divers</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-4 d-flex align-items-center mb-2">
                            <label for="recrutable" class="form-label mr-2">Recrutable :</label>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [disabled]="!addMode && !editMode"></mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-4 d-flex align-items-center mb-2">
                            <label for="excluDeclaration" class="form-label mr-2">Déclaration de l'exclusion :</label>
                            <section class="example-section">
                                <mat-checkbox class="example-margin" [disabled]="!addMode && !editMode"></mat-checkbox>
                            </section>
                        </div>
                        <div class="col-md-4 d-flex align-items-center mb-2">
                            <label for="matriculeRecrutement" class="form-label mr-2">Matricule de recrutement :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="matriculeRecrutement"
                                    [(ngModel)]="collaborater.matriculeRecrutement" [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Action Buttons -->
            <div class="row form-inline">
                <div class="d-flex justify-content-end mt-4">
                    <div class="col-md-11 d-flex justify-content-end mb-3">
                        <button mat-flat-button color="primary" class="mr-2" (click)="cancel()">Cancel</button>
                        <button mat-flat-button color="primary" *ngIf="addMode"
                            (click)="addCollaborater()">Ajouter</button>
                        <button mat-flat-button color="primary" *ngIf="!addMode && !editMode"
                            (click)="openEditMode()">Modifier</button>
                        <button mat-flat-button color="primary" *ngIf="editMode">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>