<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboad'" [items]="['Home']" [active_item]="'Dashboad '"></app-breadcrumb>
    </div>
    <div class="row ">
      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-green-dark">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large"><i class="fa fa-briefcase"></i></div>
            <div class="card-content">
              <h5 class="card-title">New Projects</h5>
              <span class="data-1">102</span>
              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round progress-shadow orange-progress mt-2 mb-2" value="40">
              </mat-progress-bar>
              <p class="mb-0 text-sm">
                <span class="mr-2"><i class="fa fa-arrow-up"></i> 10%</span>
                <span class="text-nowrap"> Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-cyan-dark">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
            <div class="card-content">
              <h5 class="card-title">New Customers</h5>
              <span class="data-1">154</span>
              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round progress-shadow purple-progress mt-2 mb-2" value="40">
              </mat-progress-bar>
              <p class="mb-0 text-sm">
                <span class="mr-2"><i class="fa fa-arrow-up"></i> 04%</span>
                <span class="text-nowrap"> Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-purple-dark">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large"><i class="fa fa-globe"></i></div>
            <div class="card-content">
              <h5 class="card-title">Inquiry</h5>
              <span class="data-1">524</span>
              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round progress-shadow green-progress mt-2 mb-2" value="40">
              </mat-progress-bar>
              <p class="mb-0 text-sm">
                <span class="mr-2"><i class="fa fa-arrow-up"></i> 23%</span>
                <span class="text-nowrap"> Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-orange-dark">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large"><i class="fa fa-money-bill-alt"></i></div>
            <div class="card-content">
              <h5 class="card-title">Earning</h5>
              <span class="data-1">$2,453</span>
              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round progress-shadow sky-progress mt-2 mb-2" value="40">
              </mat-progress-bar>
              <p class="mb-0 text-sm">
                <span class="mr-2"><i class="fa fa-arrow-down"></i> 06%</span>
                <span class="text-nowrap"> Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-purple-dark">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large"><i class="fa fa-globe"></i></div>
            <div class="card-content">
              <h5 class="card-title">Inquiry</h5>
              <span class="data-1">524</span>
              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round progress-shadow green-progress mt-2 mb-2" value="40">
              </mat-progress-bar>
              <p class="mb-0 text-sm">
                <span class="mr-2"><i class="fa fa-arrow-up"></i> 23%</span>
                <span class="text-nowrap"> Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-6">
        <div class="card l-bg-orange-dark">
          <div class="card-statistic-3">
            <div class="card-icon card-icon-large"><i class="fa fa-money-bill-alt"></i></div>
            <div class="card-content">
              <h5 class="card-title">Earning</h5>
              <span class="data-1">$2,453</span>
              <mat-progress-bar mode="determinate"
                                class="progress-m progress-round progress-shadow sky-progress mt-2 mb-2" value="40">
              </mat-progress-bar>
              <p class="mb-0 text-sm">
                <span class="mr-2"><i class="fa fa-arrow-down"></i> 06%</span>
                <span class="text-nowrap"> Since last month</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>
