<section class="content">
    <div class="container">
        <div class="body">
            <!-- Contract Information Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Informations du contrat</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <form [formGroup]="formGroup">
                    <mat-card-content>
                        <div class="row form-inline">
                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="contractType" class="form-label mr-2">Type :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <mat-select name="contractType" formControlName="contractType">
                                        <mat-option *ngFor="let contractType of contractTypes"
                                            [value]="contractType.id">{{
                                            contractType.code}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="contractRef" class="form-label mr-2">Référence :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput formControlName="contractRef">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="motifRecrutement" class="form-label mr-2">Motif de récrutement :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput formControlName="motifRecrutement">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row form-inline">
                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="periodNegocible" class="form-label mr-2">Période négociable :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput formControlName="periodNegocible">
                                </mat-form-field>
                            </div>

                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="regimeFiscal" class="form-label mr-2">Regime fiscal :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput formControlName="regimeFiscal">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="exonerationFiscale" class="form-label mr-2">Exoneration fiscale :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput formControlName="exonerationFiscale">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row form-inline">
                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="motifDepart" class="form-label mr-2">Motif de départ :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput formControlName="motifDepart">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="dateEntree" class="form-label mr-2">Date d'entrée :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput [matDatepicker]="pickerDateEntree" formControlName="dateEntree">
                                    <mat-datepicker-toggle matSuffix [for]="pickerDateEntree"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateEntree></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 d-flex align-items-center mb-3">
                                <label for="dateFin" class="form-label mr-2">Date Fin :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput [matDatepicker]="pickerDateFin" formControlName="dateFin">
                                    <mat-datepicker-toggle matSuffix [for]="pickerDateFin"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateFin></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </form>
            </mat-card>
            <div class="row form-inline">
                <div class="d-flex justify-content-end mt-4">
                    <div class="col-md-11 d-flex justify-content-end mb-3">
                        <button mat-flat-button color="primary" class="mr-2" *ngIf="addMode || !editMode"
                            (click)="back()">Retour</button>
                        <button mat-flat-button color="primary" *ngIf="addMode" (click)="addContract()">Ajouter</button>
                        <button mat-flat-button color="primary" *ngIf="!addMode && !editMode"
                            (click)="openEditMode()">Modifier</button>
                        <button mat-flat-button color="primary" class="mr-2" *ngIf="editMode"
                            (click)="cancel()">Annuler</button>
                        <button mat-flat-button color="primary" *ngIf="editMode" (click)="updateContract()">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>