.breadcrumb-title {
  background-color: transparent;
  font-size: 12px;
  align-items: center;
  margin: 20px 0px;
  padding: 0px;
  color: #555;
}
.breadcrumb-ul {
  background-color: transparent;
  font-size: 15px;
  align-items: center;
  //margin: 32px 0px;

  color: #555;
  padding: 0px 5px;
  .left{
    float: left;
  }
  .right{
    float: right;
  }
}
