<section class="content">
    <div class="container">
        <div class="body">
            <!-- Téléphone Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Téléphone</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="telephone" class="form-label mr-2">Téléphone :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="telephone" [(ngModel)]="collaborater.telephone"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="tel1" class="form-label mr-2">TEL 1 :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="tel1" [(ngModel)]="collaborater.tel1"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="tel2" class="form-label mr-2">TEL 2 :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="tel2" [(ngModel)]="collaborater.tel2"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="tel3" class="form-label mr-2">TEL 3 :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="tel3" [(ngModel)]="collaborater.tel3"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Email Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Email</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="email1" class="form-label mr-2">Email :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="email1" [(ngModel)]="collaborater.email1"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="email2" class="form-label mr-2">Email 2 :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="email2" [(ngModel)]="collaborater.email2"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="email3" class="form-label mr-2">Email 3 :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="email3" [(ngModel)]="collaborater.email3"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Adresse Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Adresse</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="adresse" class="form-label mr-2">Adresse :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="adresse">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="adresse2" class="form-label mr-2">Adresse 2 :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="adresse2">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="adresse3" class="form-label mr-2">Adresse 3 :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="adresse3">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Action Buttons -->
            <div class="row form-inline">
                <div class="d-flex justify-content-end mt-4">
                    <div class="col-md-11 d-flex justify-content-end mb-3">
                        <button mat-flat-button color="primary" class="mr-2" (click)="cancel()">Annuler</button>
                        <button mat-flat-button color="primary" *ngIf="addMode">Ajouter</button>
                        <button mat-flat-button color="primary" *ngIf="!addMode && !editMode"
                            (click)="openEditMode()">Modifier</button>
                        <button mat-flat-button color="primary" *ngIf="editMode">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>