.add-unity{
  background-color: #FFFFFF;
}
.navbar-nav {

  &.navbar-right {
    float: left !important;
    display: block !important;
    //flex-direction: unset;
  }
}
.item{
  margin-top: -20px;
}

section.content {
  background-color: #c2c6c6;
  margin-right: 20px;
}
.sousBar{
  background-color: #0c0c0c;

}
.block-header{
  //background-color: #c2c6c6;
  margin-left: -25px;
  margin-right: -20px;
  background-color: #848989;
  z-index: 1000 !important;
}

.block-tabs{
  margin-left: -25px;
  margin-right: -20px;
  height: 43px;
  background-color: #FFFFFF;
  z-index: 1000 !important;
  position:fixed;
  width: 100%;
}

.button-menu{
  height: 16px;
}

.body{
  margin-left: -260px;
  margin-right: -23px;
  position:fixed;
  width: 100%;
}

.nav-link{
  margin-top: -5px;
}


