.add-unity{
    background-color: #FFFFFF;
  }
  .navbar-nav {
  
    &.navbar-right {
      float: left !important;
      display: block !important;
      //flex-direction: unset;
    }
  }
  .item{
    margin-top: -20px;
  }
  
  section.content {
    background: #ffffff;
    margin-right: 0.1ch;
    padding: 1px;
    .add-unity{
    background-color: #FFFFFF;
  }
  .navbar-nav {
  
    &.navbar-right {
      float: left !important;
      display: block !important;
      //flex-direction: unset;
    }
  }
  .item{
    margin-top: -20px;
  }
  
  section.content {
    background: #ffffff;
    margin-right: 0.1ch;
    padding: 20px;
  }
  .sousBar{
    background-color: #0c0c0c;
  
  }
  .block-header{
    //background-color: #c2c6c6;
    margin-left: -27px;
    height: 39px;
    background-color: #d3f5f5;
    z-index: 1000 !important;
  }
  .button-menu{
    height: 16px;
  }
  
  
  }
  .sousBar{
    background-color: #0c0c0c;
  
  }
  .block-header{
    //background-color: #c2c6c6;
    margin-left: -46px;
    height: 39px;
    background-color: #d3f5f5;

    z-index: 1000 !important;
  }
  .button-menu{
    height: 16px;
  }
  
  