<section class="content">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <div class="image">
            <img src="././assets/images/flags/user_image2.jpeg" alt="Photo" class="avatar mat-elevation-z4">
          </div>
          <div style="margin-top: 10px;" *ngIf="!addMode">
            <h5>{{ collaborater.civilite + " " + collaborater.civNomPrenom }}</h5>
          </div>
        </div>
      </div>
        <div class="body">
            <div class="row form-inline">
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="nomJeuneFille" class="form-label mr-2">Nom Jeune Fille :</label>
                    <input type="text" class="form-control form-control-sm" id="nomJeuneFille" [(ngModel)]="collaborater.nomJeuneFille" [readonly]="!addMode && !editMode">
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="nbEnfantsSaisi" class="form-label mr-2">Nb Enfants Saisi :</label>
                    <input type="text" class="form-control form-control-sm" id="nbEnfantsSaisi" [(ngModel)]="collaborater.nbEnfantsSaisi" [readonly]="!addMode && !editMode">
                </div>
            </div>
            <div class="row form-inline">
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="nbEnfants" class="form-label mr-2">Nb Enfants :</label>
                    <input type="text" class="form-control form-control-sm" id="nbEnfants" [(ngModel)]="collaborater.nbEnfants" [readonly]="!addMode && !editMode">
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="nbEnfantsChargeSaisi" class="form-label mr-2">Nb Enfants Charge Saisi :</label>
                    <input type="text" class="form-control form-control-sm" id="nbEnfantsChargeSaisi" [(ngModel)]="collaborater.nbEnfantsChargeSaisi" [readonly]="!addMode && !editMode">
                </div>
            </div>
            <div class="row form-inline">
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="nbEnfantsCharge" class="form-label mr-2">Nb Enfants Charge :</label>
                    <input type="text" class="form-control form-control-sm" id="nbEnfantsCharge" [(ngModel)]="collaborater.nbEnfantCharge" [readonly]="!addMode && !editMode">
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="nbPersCharge" class="form-label mr-2">Nb Pers Charge :</label>
                    <input type="text" class="form-control form-control-sm" id="nbPersCharge" [(ngModel)]="collaborater.nbPersCharge" [readonly]="!addMode && !editMode">
                </div>
            </div>
            <div class="row form-inline">
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="nbEpousesSaisi" class="form-label mr-2">Nb Epouses Saisi :</label>
                    <input type="text" class="form-control form-control-sm" id="nbEpousesSaisi" [(ngModel)]="collaborater.nbEpousesSaisi" [readonly]="!addMode && !editMode">
                </div>
                <div class="col-md-6 d-flex align-items-center mb-3">
                    <label for="nbEpouses" class="form-label mr-2">Nb Epouses :</label>
                    <input type="text" class="form-control form-control-sm" id="nbEpouses" [(ngModel)]="collaborater.nbEpouses" [readonly]="!addMode && !editMode">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 d-flex justify-content-end mb-3">
                    <button mat-flat-button color="primary" *ngIf="addMode" (click)="addCollaborater()">Ajouter</button>
                    <button mat-flat-button color="primary" *ngIf="!addMode && !editMode" (click)="openEditMode()">Modifier</button>
                    <button mat-flat-button color="primary" *ngIf="editMode">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</section>
