<section class="content">
    <div class="container">
        <div class="body">
            <!-- CNIE Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>
                        CNIE
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-3 d-flex align-items-center mb-3">
                            <label for="cnie" class="form-label mr-2">Numéro :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="cnie" [(ngModel)]="collaborater.cnie"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>

                        <div class="col-md-3 d-flex align-items-center mb-3">
                            <label for="cnieDelivreePar" class="form-label mr-2">Délivrée par :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="cnieDelivreePar" [(ngModel)]="collaborater.cnieDelivreePar"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex align-items-center mb-3">
                            <label for="cnieDelivreeLe" class="form-label mr-2">Délivrée le :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDateCnie" id="cnieDelivreeLe"
                                    [(ngModel)]="collaborater.cnieDelivreeLe" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="pickerDateCnie"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateCnie></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-3 d-flex align-items-center mb-3">
                            <label for="cnieExpireLe" class="form-label mr-2">Expire le :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDateExpireCnie" id="cnieExpireLe"
                                    [(ngModel)]="collaborater.cnieExpireLe" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="pickerDateExpireCnie"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateExpireCnie></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <!-- Passeport Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Passeport</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>

                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="numPasseport" class="form-label mr-2">Numéro :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="numPasseport" [(ngModel)]="collaborater.numPassePort"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="passeportDelivreLe" class="form-label mr-2">Délivré le :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDatePasseport" id="passeportDelivreLe"
                                    [(ngModel)]="collaborater.passePortDelivreLe" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="pickerDatePasseport"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDatePasseport></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="passeportExpireLe" class="form-label mr-2">Expire le :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDateExpirePasseport" id="passeportExpireLe"
                                    [(ngModel)]="collaborater.passePortExpireLe" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix
                                    [for]="pickerDateExpirePasseport"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateExpirePasseport></mat-datepicker>
                            </mat-form-field>
                        </div>

                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Permis de Séjour Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Permis de Séjour</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="numPermisSejour" class="form-label mr-2">Numéro :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="numPermisSejour" [(ngModel)]="collaborater.numPermisSejour"
                                    [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="natPermisSejour" class="form-label mr-2">Nature :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="natPermisSejour"
                                    [(ngModel)]="collaborater.natPermisSejour" [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row form-inline">
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="permisSejourDelivreLe" class="form-label mr-2">Délivré le :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDatePermisSejour" id="permisSejourDelivreLe"
                                    [(ngModel)]="collaborater.permisSejourDelivreLe" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="pickerDatePermisSejour"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDatePermisSejour></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="permisSejourDebVal" class="form-label mr-2">Début de validité :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDebutPermisSejour" id="permisSejourDebVal"
                                    [(ngModel)]="collaborater.permisSejourDebVal" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix
                                    [for]="pickerDebutPermisSejour"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDebutPermisSejour></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="permisSejourFinVal" class="form-label mr-2">Fin de validité :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerFinPermisSejour" id="permisSejourFinVal"
                                    [(ngModel)]="collaborater.permisSejourFinVal" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="pickerFinPermisSejour"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFinPermisSejour></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <!-- Permis de Travail Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Permis de Travail</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="numPermisTravail" class="form-label mr-2">Numéro :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="numPermisTravail"
                                    [(ngModel)]="collaborater.numPermisTravail" [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="natPermisTravail" class="form-label mr-2">Nature :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="natPermisTravail"
                                    [(ngModel)]="collaborater.natPermisTravail" [readonly]="!addMode && !editMode">
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row form-inline">
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="permisTravailDelivreLe" class="form-label mr-2">Délivré le :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDatePermisTravail" id="permisTravailDelivreLe"
                                    [(ngModel)]="collaborater.permisTravailDelivreLe"
                                    [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix
                                    [for]="pickerDatePermisTravail"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDatePermisTravail></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="permisTravailDebVal" class="form-label mr-2">Début de validité :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDebutPermisTravail" id="permisTravailDebVal"
                                    [(ngModel)]="collaborater.permisTravailDebVal" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix
                                    [for]="pickerDebutPermisTravail"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDebutPermisTravail></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4 d-flex align-items-center mb-3">
                            <label for="permisTravailFinVal" class="form-label mr-2">Fin de validité :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerFinPermisTravail" id="permisTravailFinVal"
                                    [(ngModel)]="collaborater.permisTravailFinVal" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="pickerFinPermisTravail"></mat-datepicker-toggle>
                                <mat-datepicker #pickerFinPermisTravail></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>



            <!-- Action Buttons -->
            <div>
                <div class="d-flex justify-content-end mt-4">
                    <div class="col-md-11 d-flex justify-content-end mb-3">
                        <button mat-flat-button color="primary" class="mr-2" (click)="cancel()">Anuler</button>
                        <button mat-flat-button color="primary" *ngIf="addMode">Ajouter</button>
                        <button mat-flat-button color="primary" *ngIf="!addMode && !editMode"
                            (click)="openEditMode()">Modifier</button>
                        <button mat-flat-button color="primary" *ngIf="editMode">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>