:host ::ng-deep .mdc-text-field--outlined {
  padding-left: max(16px, calc(var(--mdc-shape-small, 4px) + 4px));
  height: 32px !important;
  display: flex;
  align-items: center;
  border: #FFFFFF;
}

section.content {
    background: white;
    margin-right: 0.1ch;
  }
  
  .body{
    margin-top: 80px;
  }

  .field-width-date{
    width: 45%;
    height: 20px;
  }
  
  .field-width{
    width: 45%;
    height: 20px;
  }
  
  .mr-2 {
    margin-right: 10px;
  }
  
  .form-label {
    font-weight: bold;
    width: 120px; /* Fixed width for labels */
    text-align: left; /* Align text to the right */
    margin-right: 10px; /* Margin between label and input */
  }
    
  .form-inline{
    margin-top: 2px;
  }
  .form-control-sm {
    width: 50px;
    flex-grow: 1; /* Let the input take remaining space */
  }
  .form-group {
    margin-bottom: 15px; /* Space between form groups */
  }
  .content {
    padding: 20px; /* Padding around content */
  }