$green :#aed546;

.auth-form-section {
  background-color: #fff;
}
.form-section-forget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.filed-email {
  width: 100%;
}
// Change Stepper Step selected Icons Circle
::ng-deep .mat-primary.mat-step-header .mat-step-icon-selected {
  background-color: $green;
  color: #fff;
  outline: 2px solid $green;
  outline-offset: 3px;

}
::ng-deep .mat-vertical-stepper-header {
  width: 90%;
  margin: 0 auto;

}
::ng-deep .mat-primary.mat-step-header {
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid rgba(155,175,194,0.377);
  height: 2px;
  pointer-events: none;
  margin-bottom: 10px;
}

::ng-deep .mat-primary.mat-step-header .mat-step-label.mat-step-label-selected{
  color: $green;
  font-weight: 600 !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  background: $green;
}

::ng-deep .mat-step-icon .mat-icon {
  display: none;
}
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: $green;
  color: #fff;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png');
  background-size: 13px;
  background-position-y: 5px;
  background-position-x: 5px;
  transform: rotate(20deg);
  background-repeat: no-repeat;
  outline: 2px solid $green;
  outline-offset: 1px;
}
::ng-deep .mat-step-header .mat-step-icon-state-done {
  background-color: $green;
  color: #fff;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/White_check.svg/768px-White_check.svg.png');
  background-size: 13px;
  background-position-y: 5px;
  background-position-x: 5px;
  transform: rotate(20deg);
  background-repeat: no-repeat;
  outline: 2px solid $green;
  outline-offset: 2px;
}

.body{
  width: 80%;
}
