<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-5 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
      </div>
    </div>
    <div class="col-sm-7 auth-form-section ">
      <div class="form-section-forget">

          <h2 class="welcome-msg mt-5"> Réinitialiser le mot de passe </h2>
          <p class="auth-signup-text text-muted">Laissez-nous vous aider</p>
          <div class="body">
            <mat-vertical-stepper [linear]="isLinear" #stepper>
              <mat-step [stepControl]="authFormEmail!">
                <form [formGroup]="authFormEmail!">
                  <ng-template matStepLabel>Information </ng-template>
                  <span class="error-subheader2 p-t-20 p-b-15">
                  Entrez votre adresse e-mail enregistrée.
                  </span>

                      <mat-form-field class="filed-email" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email"  required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>mail</mat-icon>
                        <mat-error *ngIf="authFormEmail.get('email')?.hasError('required')">
                          email est obligatoire
                        </mat-error>
                      </mat-form-field>

                  <div>
                    <button mat-raised-button matStepperNext color="primary"
                            [disabled]="!authFormEmail!.valid" (click)="sendUuidToUser()">Suivant</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="authForm!">
                <form [formGroup]="authForm!">
                  <ng-template matStepLabel>Confirmation</ng-template>
                  <div class="row-stepper-to mt-3">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Code Reçu</mat-label>
                        <input matInput formControlName="uuid"  required>
                        <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>contact_mail</mat-icon>
                        <mat-error *ngIf="authForm.get('uuid')?.hasError('required')">
                          UUID is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row-stepper-to">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="passWord" [type]="hide ? 'password' : 'text'" required>
                        <mat-icon matSuffix class="material-icons-outlined pwd-toggle p-3" (click)="hide = !hide">
                          {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="authForm.get('passWord')?.hasError('required')">
                          Password is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row-stepper-to">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Confirm Password</mat-label>
                        <input matInput formControlName="confirmPassWord" [type]="chide ? 'password' : 'text'" required>
                        <mat-icon matSuffix class="material-icons-outlined pwd-toggle p-3" (click)="chide = !chide">
                          {{chide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        <mat-error *ngIf="authForm.get('confirmPassWord')?.hasError('required')">
                          Confirm Password is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div>
                    <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Précedent</button>
                    <button mat-raised-button matStepperNext color="primary"
                            [disabled]="!authForm!.valid">Suivant</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Enregistrer</ng-template>
                <p>Votre mot de pass est reunitialiser.</p>
                <div>
                  <button mat-raised-button matStepperPrevious color="warn" class="msr-2">Back</button>
                  <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
            </mat-vertical-stepper>
          </div>

            <div class="w-full p-t-25 text-center mb-4">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  Authentifier?
                </a>
              </div>
            </div>


      </div>
    </div>
  </div>
</div>
