<section class="content">
    <div class="container">
        <div class="body">
            <!-- CNIE Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>
                        Classification
                    </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="classificationType" class="form-label mr-2">Type :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <mat-select [(ngModel)]="classification.typeId" name="contractType"
                                    [disabled]="!addMode && !editMode">
                                    <mat-option *ngFor="let classificationType of classificationTypes"
                                        [value]="classificationType.id">{{ classificationType.nom}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="refClassification" class="form-label mr-2">Référence :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="refClassification" [disabled]="!addMode && !editMode">
                            </mat-form-field>
                        </div>


                        <div class="row form-inline"></div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="dateClassification" class="form-label mr-2">Date de classification :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDateClassification" id="dateClassification"
                                    [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix
                                    [for]="pickerDateClassification"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateClassification></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="DateFinClf" class="form-label mr-2">Date fin :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDateFinClf" id="DateFinClf"
                                    [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix [for]="pickerDateFinClf"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateFinClf></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <!-- Passeport Section -->
            <mat-card class="styled-card">
                <mat-list>
                    <mat-list-item>Catégorie</mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>

                <mat-card-content>
                    <div class="row form-inline">
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="numPasseport" class="form-label mr-2">Catégorie professionnelle :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput id="numPasseport" [(ngModel)]="classification.categorieProf"
                                    [disabled]="!addMode && !editMode">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 d-flex align-items-center mb-3">
                            <label for="passeportDelivreLe" class="form-label mr-2">Date de catégorie professionnelle
                                :</label>
                            <mat-form-field class="field-width" appearance="outline">
                                <input matInput [matDatepicker]="pickerDateCategorieProf" id="dateCategorieProf"
                                    [(ngModel)]="classification.dateCategorieProf" [disabled]="!addMode && !editMode">
                                <mat-datepicker-toggle matSuffix
                                    [for]="pickerDateCategorieProf"></mat-datepicker-toggle>
                                <mat-datepicker #pickerDateCategorieProf></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
            <!-- Action Buttons -->
            <div class="row form-inline">
                <div class="d-flex justify-content-end mt-4">
                    <div class="col-md-11 d-flex justify-content-end mb-3">
                        <button mat-flat-button color="primary" class="mr-2" *ngIf="addMode || !editMode"
                            (click)="back()">Retour</button>
                        <button mat-flat-button color="primary" *ngIf="addMode">Ajouter</button>
                        <button mat-flat-button color="primary" *ngIf="!addMode && !editMode"
                            (click)="openEditMode()">Modifier</button>
                        <button mat-flat-button color="primary" class="mr-2" *ngIf="editMode"
                            (click)="cancel()">Annuler</button>
                        <button mat-flat-button color="primary" *ngIf="editMode">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>