<section class="content">
    <div class="container">
        <div class="body">
            <form [formGroup]="formGroup">
                <!-- CNIE Section -->
                <mat-card class="styled-card">
                    <mat-list>
                        <mat-list-item>
                            Classification
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>
                    <mat-card-content>
                        <div class="row form-inline">
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label for="classificationType" class="form-label mr-2">Type :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <mat-select formControlName="classificationType" name="classificationType">
                                        <mat-option *ngFor="let classificationType of classificationTypes"
                                            [value]="classificationType.id">{{ classificationType.nom}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label for="refClassification" class="form-label mr-2">Référence :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput formControlName="refClassification">
                                </mat-form-field>
                            </div>


                            <div class="row form-inline"></div>
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label for="dateClassification" class="form-label mr-2">Date de classification :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput [matDatepicker]="pickerDateClassification"
                                        formControlName="dateClassification">
                                    <mat-datepicker-toggle matSuffix
                                        [for]="pickerDateClassification"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateClassification></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label for="DateFinClf" class="form-label mr-2">Date fin :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput [matDatepicker]="pickerDateFinClf" formControlName="dateFin">
                                    <mat-datepicker-toggle matSuffix [for]="pickerDateFinClf"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateFinClf></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <!-- Passeport Section -->
                <mat-card class="styled-card">
                    <mat-list>
                        <mat-list-item>Catégorie</mat-list-item>
                        <mat-divider></mat-divider>
                    </mat-list>

                    <mat-card-content>
                        <div class="row form-inline">
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label for="categorieProf" class="form-label mr-2">Catégorie professionnelle :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput formControlName="categorieProf">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 d-flex align-items-center mb-3">
                                <label for="dateCategorieProf" class="form-label mr-2">Date de catégorie
                                    professionnelle
                                    :</label>
                                <mat-form-field class="field-width" appearance="outline">
                                    <input matInput [matDatepicker]="pickerDateCategorieProf"
                                        formControlName="dateCategorieProf">
                                    <mat-datepicker-toggle matSuffix
                                        [for]="pickerDateCategorieProf"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerDateCategorieProf></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <!-- Action Buttons -->
                <div class="row form-inline">
                    <div class="d-flex justify-content-end mt-4">
                        <div class="col-md-11 d-flex justify-content-end mb-3">
                            <button mat-flat-button color="primary" class="mr-2" *ngIf="addMode || !editMode"
                                (click)="back()">Retour</button>
                            <button mat-flat-button color="primary" *ngIf="addMode" (click)="addClassification()">Ajouter</button>
                            <button mat-flat-button color="primary" *ngIf="!addMode && !editMode"
                                (click)="openEditMode()">Modifier</button>
                            <button mat-flat-button color="primary" class="mr-2" *ngIf="editMode"
                                (click)="cancel()">Annuler</button>
                            <button mat-flat-button color="primary" *ngIf="editMode" (click)="updateClassification()">Enregistrer</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>