<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="image">
          <img src="././assets/images/flags/user_image2.jpeg" alt="Photo" class="avatar mat-elevation-z4">
        </div>
        <div style="margin-top: 10px;" *ngIf="!addMode">
          <h5>{{ collaborater.civilite + " " + collaborater.civNomPrenom }}</h5>
        </div>
      </div>
    </div>
    <div class="body">
      <mat-card class="styled-card">
        <mat-list>
          <mat-list-item>Informations personnelles</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
        <form [formGroup]="formGroup">
          <mat-card-content>
            <div class="row form-inline">
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="matricule" class="form-label mr-2">Matricule :</label>
                <mat-form-field class="field-width" appearance="outline">
                  <input matInput formControlName="matricule">
                </mat-form-field>
              </div>
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="nom" class="form-label mr-2">Nom :</label>
                <mat-form-field class="field-width" appearance="outline">
                  <input matInput formControlName="firstName">
                </mat-form-field>
              </div>
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="lastName" class="form-label mr-2">Prénom :</label>
                <mat-form-field class="field-width" appearance="outline">
                  <input matInput formControlName="lastName">
                </mat-form-field>
              </div>
            </div>
            <div class="row form-inline">
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="lieuNaissance" class="form-label mr-2">Lieu de naissance:</label>
                <mat-form-field class="field-width" appearance="outline">
                  <input matInput formControlName="lieuNaissance">
                </mat-form-field>
              </div>
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="dateNaissance" class="form-label mr-2">Date de naissance:</label>
                <mat-form-field class="field-width" appearance="outline">
                  <input matInput [matDatepicker]="picker" formControlName="dateNaissance">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker>
                    <mat-datepicker-actions>
                      <button mat-icon-button matDatepickerCancel>
                        <mat-icon>close</mat-icon>
                      </button>
                      <button mat-mini-fab color="primary" matDatepickerApply>
                        <mat-icon>check</mat-icon>
                      </button>
                    </mat-datepicker-actions>
                  </mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="sexe" class="form-label mr-2">Sexe :</label>
                <mat-form-field class="field-width" appearance="outline">
                  <mat-select formControlName="sexe">
                    <mat-option value="Homme">Homme</mat-option>
                    <mat-option value="Femme">Femme</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row form-inline">
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="countryCode1" class="form-label mr-2">Nationalité 1 :</label>
                <mat-form-field class="field-width" appearance="outline">
                  <mat-select formControlName="countryCode1" name="countryCode1">
                    <mat-option *ngFor="let country of countries" [value]="country.code">{{ country.nationality
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="countryCode2" class="form-label mr-2">Nationalité 2 :</label>
                <mat-form-field class="field-width" appearance="outline">
                  <mat-select formControlName="countryCode2" name="countryCode2">
                    <mat-option *ngFor="let country of countries" [value]="country.code">{{ country.nationality
                      }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="initiales" class="form-label mr-2">initiales:</label>
                <mat-form-field class="field-width" appearance="outline">
                  <input matInput formControlName="initiales">
                </mat-form-field>
              </div>
            </div>
            <div class="row form-inline">
              <div class="col-md-4 d-flex align-items-center mb-3">
                <label for="nomJeuneFille" class="form-label mr-2">Nom du jeune fille :</label>
                <mat-form-field class="field-width" appearance="outline">
                  <input matInput formControlName="nomJeuneFille">
                </mat-form-field>
              </div>
            </div>
          </mat-card-content>
        </form>
      </mat-card>
      <div class="row form-inline">
        <div class="d-flex justify-content-end mt-4">
          <div class="col-md-11 d-flex justify-content-end mb-3">
            <button mat-flat-button color="primary" class="mr-2" *ngIf="addMode || !editMode"
              (click)="back()">Retour</button>
            <button mat-flat-button color="primary" *ngIf="addMode" (click)="addCollaborater()">Ajouter</button>
            <button mat-flat-button color="primary" *ngIf="!addMode && !editMode" (click)="openEditMode()">Modifier</button>
            <button mat-flat-button color="primary" class="mr-2" *ngIf="editMode" (click)="cancel()">Annuler</button>
            <button mat-flat-button color="primary" *ngIf="editMode" (click)="editCollaborater()">Enregistrer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>